  @model Bookallocationsystem.Models.Schools.SchoolViewModelCreate
@{
    ViewData["Title"] = "Dashboard Page";
}



          <div class="page-breadcrumb bg-white">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title text-uppercase font-medium font-14">Add School</h4>
                    </div>

                </div>
                <!-- /.col-lg-12 -->
            </div>

              <div class="container-fluid">
                     <div class="col-lg-12 col-xlg-9 col-md-12">
                        <div class="card">
                            <div class="card-body">

                                <form class="form-horizontal form-material"  method="POST"  asp-action="Create" asp-controller="School">
                                    <div class="form-group mb-4">
                                        <label class="col-md-12 p-0">School name</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input type="text" asp-for="SchoolName" placeholder="Ntokozo Mbabo high school"
                                                class="form-control p-0 border-0">


                                                 </div>
                                                       <div class="error">
         @Html.ValidationMessageFor(x => x.SchoolName)
        </div>

                                    </div>

                                         <div class="form-group mb-4">
                                        <label class="col-md-12 p-0">School number</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input type="text" asp-for="SchoolNr" placeholder="A12345678"
                                                class="form-control p-0 border-0">


                                                 </div>
                                                          <div class="error">@Html.ValidationMessageFor(x => x.SchoolNr)</div>
                                    </div>

                                         <div class="form-group mb-4">
                                        <label class="col-md-12 p-0">School Address</label>
                                        <div class="col-md-12 border-bottom p-0">
                                                          <textarea rows="5" asp-for="SchoolAddress"  placeholder="Private bag X101 Soshanguve east Gauteng 0011" class="form-control p-0 border-0"></textarea>

                                                           </div>
                                                                <div class="error invalid-feedback">@Html.ValidationMessageFor(x => x.SchoolAddress)</div>
                                    </div>


                                         <div class="form-group mb-4">
                                        <label class="col-md-12 p-0">Contact Person</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input type="text" placeholder="John Doe" asp-for="ContactPerson"
                                                class="form-control p-0 border-0">


                                                 </div>
                                                            <div class="error">@Html.ValidationMessageFor(x => x.ContactPerson)</div>
                                    </div>

                                  <div class="form-group mb-4">
                                        <label class="col-md-12 p-0">Contact Number</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input type="text" placeholder="27725226273" asp-for="CellNumber"
                                                class="form-control p-0 border-0">


                                                 </div>
                                                        <div class="error">@Html.ValidationMessageFor(x => x.CellNumber)</div>
                                    </div>


                                 <div class="form-group mb-4">
                                        <label class="col-md-12 p-0">Email</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input type="text" placeholder="27725226273" asp-for="Email"
                                                class="form-control p-0 border-0">


                                                 </div>
                                                        <div class="error">@Html.ValidationMessageFor(x => x.Email)</div>
                                    </div>



                                    <div class="form-group mb-4">
                                        <label class="col-sm-12">Province</label>
                                        <div class="col-sm-12 border-bottom p-0">
                                            <select class="form-control p-0 border-0"  asp-for="Province">
                                                <option>Gauteng</option>
                                                <option>Limpopo</option>
                                                <option>Free State</option>
                                                <option>Western Cape</option>
                                                <option>Eastern Cape</option>
                                            </select>

                                        </div>
                                               <span>@Html.ValidationMessageFor(x => x.Province)</span>
                                    </div>


                                    <div class="form-group mb-4">
                                        <label class="col-sm-12">Region</label>
                                        <div class="col-sm-12 border-bottom p-0">
                                            <select class="form-control p-0 border-0" asp-for="Region">
                                                <option>North Eastern region</option>

                                            </select>

                                        </div>
                                           <span>@Html.ValidationMessageFor(x => x.Region)</span>
                                    </div>


                                    <div class="form-group mb-4">
                                        <div class="col-sm-12">
                                            <button class="btn btn-success">Add School</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                  </div>